<button id="increment" (click)="increment()">Increment</button>

<button id="decrement" (click)="decrement()">Decrement</button>

<button id="reset" (click)="reset()">Reset</button>

<h1>Current count is: {{count$ | async}}</h1>